<div class="container-md">
  <div class="mx-auto text-center">
    <div class="text-center mt-5 mb-4">
      <h1 class="svelte-1q5hf50">Formulaire de contact</h1>
    </div>
    <form
      class="w-50 d-block mx-auto text-center"
      data-dashlane-rid="a20ffa036dc5b86b"
      data-form-type="contact"
    >
      <fieldset>
        <div class="row">
          <div class="col">
            <legend>persona</legend>
            <div class="my-4 mx-auto items-center">
              <input
                type="text"
                class="py-1 px-3 border border-dark rounded"
                placeholder="nom: "
                data-dashlane-rid="5d25db26fd13b0a8"
                data-form-type="other"
              />
            </div>
            <div class="my-4 mx-auto items-center">
              <input
                type="text"
                class="py-1 px-3 border border-dark rounded"
                placeholder="prénom: "
                data-dashlane-rid="1143ab437c542d27"
                data-form-type="other"
              />
            </div>
            <div class="my-4 mx-auto items-center">
              <input
                type="email"
                class="py-1 px-3 border border-dark rounded"
                placeholder="entrez votre email"
                data-dashlane-rid="fd2d35c94ae7f43f"
                data-kwimpalastatus="alive"
                data-kwimpalaid="1665559627045-0"
                data-form-type="email"
              /><span id="1665559627045-0" data-dashlanecreated="true"></span>
            </div>
          </div>
          <div class="col">
            <legend>entreprise</legend>
            <div class="my-4 mx-auto items-center">
              <input
                type="text"
                class="py-1 px-3 border border-dark rounded"
                placeholder="raison sociale"
                data-dashlane-rid="5a7f3145f31e480f"
                data-kwimpalastatus="alive"
                data-kwimpalaid="1665559627045-1"
                data-form-type="company,company_name"
              /><span id="1665559627045-1" data-dashlanecreated="true"></span>
            </div>
            <div class="my-4 mx-auto items-center">
              <input
                type="text"
                class="py-1 px-3 border border-dark rounded"
                placeholder="adresse url de l&#39;entreprise"
                data-dashlane-rid="777589ecf064447b"
                data-form-type="other"
              />
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Message</legend>
        <textarea
          class="rounded-lg py-1 px-3"
          name="message"
          rows="2"
          cols="40"
          placeholder="entrez votre message ici"
          required=""
          data-dashlane-rid="199112889a78f09b"
          data-form-type="other"
        ></textarea>
        <legend>Confirmation</legend>
        <div class="flex center-items my-3">
          <label
            class="text-justify"
            v-model="checkbox"
            data-dashlane-label="true"
            ><input
              class="mr-2"
              id="checkbox"
              type="checkbox"
              data-dashlane-rid="e8ef43af6332b7fe"
              data-form-type="other"
            />
            Je certifie la conformité des données ci-jointes</label
          >
        </div>
        <legend>Opérations</legend>
        <div class="btn-group">
          <button
            class="btn btn-outline-success uppercase on:click=()=&gt;a(&quot;sendmail&quot;) font-bold"
            type="submit"
            data-dashlane-rid="744a4edb47ba1d0e"
            data-dashlane-label="true"
            data-form-type="action"
          >
            envoyer
          </button>
          <button
            class="btn btn-warning"
            data-dashlane-rid="568878b83c837149"
            data-dashlane-label="true"
            data-form-type="other"
          >
            recommencer
          </button>
          <a routerLink="/contact" class="btn btn-danger"
            >annuler</a
          >
        </div>
      </fieldset>
    </form>
    <hr />
  </div>
</div>
