<div class="container-md">
  <h1 class="text-center text-uppercase">Compétences</h1>
  <h2 class="">Savoir-faire</h2>
  <ul class="list-group d-grid justify-content-center gap-2">
    <li class="list-group-item">structure, mise en forme</li>
    <li class="list-group-item">dynamisation</li>
    <li class="list-group-item">mise en place base de données</li>
    <li class="list-group-item">maintenance</li>
  </ul>
  <h2 class="pb-5 uppercase">Acquis</h2>
  <div *ngFor="let skill of skills" class="mx-auto">
    <h3 class="mt-4">{{ skill.category }}</h3>
    <div
      *ngFor="let item of skill.items"
      class="skill__card card my-3 "

    >
    <!-- <div class="card-img-top"> -->
      <img


        class="card-img-top w-100"
        rounded="rounded"
        [src]="item.img"
        [alt]="item.label"
      />

    <!-- </div> -->
    <div class="card-body mx-3 pl-2">
      <h3 class="card-title fw-normal">{{ item.label }}</h3>
      <p class="card-text font-light">
        {{ item.desc }}
      </p>
      <p class="card-text text-muted version font-light text-gray-500">
        version: {{ item.version }}
      </p>
    </div>
      <!-- <div class="row"> -->
      <!-- </div> -->
    </div>
  </div>
</div>
