<div class="container-md">
  <h1 class="text-center text-uppercase">Compétences</h1>
  <h2 class="">Savoir-faire</h2>
  <ul class="list-group d-grid justify-content-center gap-2">
    <li class="list-group-item">structure, mise en forme</li>
    <li class="list-group-item">dynamisation</li>
    <li class="list-group-item">mise en place base de données</li>
    <li class="list-group-item">maintenance</li>
  </ul>
  <h2 class="pb-5 uppercase">Acquis</h2>
  <div *ngFor="let skill of skills" class="mx-auto w-75">
    <h3 class="mt-4">{{ skill.category }}</h3>
    <div
      *ngFor="let item of skill.items"
      class="card my-3 &amp;quot;block&amp;quot;"
      id="code.title"
    >
      <div class="d-flex">
        <div class="frame svelte-1weymmp">
          <img
            width="200"
            class="block svelte-1weymmp"
            rounded="rounded"
            [src]="item.img"
            alt=""
          />
        </div>
        <div class="flex-col w-full mx-3 pl-2">
          <h3>{{ item.label }}</h3>
          <p class="font-light text-left">
            {{ item.desc }}
          </p>
          <p class="text-muted version font-light text-gray-500 text-left">
            version: {{ item.version }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
