<div class="container-md">
  <div class="text-center mt-5 mb-4">
    <h1 class="">Portfolio</h1>
  </div>
  <div *ngFor="let release of releases">
    <h2 class="text-center mb-3">{{ release.category }}:</h2>
    <div class="row">
      <div
        *ngFor="let item of release.items"
        class="col-md-6 col-lg-4 text-center"
      >
        <div class="card mx-auto m-3">
          <div class="frame">
            <img class="rounded-lg w-100" [src]="item.img" [alt]="item.label" />
          </div>
          <div class="p-0 m-0">
            <div class="card-body">
              <div class="card-text">{{ item.label }}</div>
            </div>
          </div>
          <div class="card-footer p-0">
            <div class="btn-group d-flex">
              <a
                class="btn btn-primary bg-gradient text-uppercase fs-5 m-1"
                [href]="item.url"
                target="_blank"
                >visiter</a
              >
              <!-- <a
              class="btn btn-info"
              [routerLink]="item.detailPath"
              target="_blank"
              >détail</a
            > -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
