<div class="container-md">
<div class="text-center mt-5 mb-4">
  <h1 class="">Portfolio</h1>
</div>
<div *ngFor="let release of releases">
  <h2 class="text-center mb-3">{{release.category}}:</h2>
  <div class="row">
    <div *ngFor="let item of release.items" class="col-md-6 col-lg-4 col-xl-3 text-center">
      <div   class="card mx-auto m-3 ">
        <div class="frame card-header" >
          <img
            class="py-1 px-2 rounded-lg w-100"
            [src]="item.img"
            [alt]="item.label"
          />
        </div>
        <div class=" p-0 m-0">
          <div class="card-body">
            <div class="card-text">{{item.label}}</div>
          </div>
        </div>
        <div class="card-footer p-0">
          <div class="btn-group d-flex">
            <a
              class="btn btn-primary bg-gradient text-uppercase fs-5 m-1"
              [href]="item.url"
              target="_blank"
              >visiter</a
            >
            <!-- <a
              class="btn btn-info"
              [routerLink]="item.detailPath"
              target="_blank"
              >détail</a
            > -->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- <h2 class="text-center mb-3">Sites réalisés:</h2> -->
<!-- <div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 text-center">
    <div class="card mx-auto m-3 ">
      <img
        class="card-top-img py-1 px-2 rounded-lg "
        src="assets/pictures/portfolio/pklinux.png"
        alt="pklinux"
      />
      <div class="card-header p-0 m-0">
        <div class="frame ">
        </div>
        <div class="card-body">
          <div class="card-text">PKLinux</div>
        </div>
      </div>
      <div class="card-footer p-0">
        <div class="btn-group btn-block">
          <a
            class="btn btn-outline-info"
            href="https://fabric-io.netlify.app/portfolio/pklinux"
            >détail</a
          >
          <a
            class="btn btn-info"
            href="https://pklinux.netlify.app/"
            target="_blank"
            >visiter</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center mb-3">Sites créés en formation:</h2>
<div class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 text-center">
    <div class="card mx-auto m-3 ">
      <img
        class="card-top-img py-1 px-2 rounded-lg "
        src="assets/pictures/portfolio/voyage.png"
        alt="travel agency"
      />
      <div class="card-header p-0 m-0">
        <div class="frame ">
        </div>
        <div class="card-body">
          <div class="card-text">Travel Agency</div>
        </div>
      </div>
      <div class="card-footer p-0">
        <div class="btn-group btn-block">
          <a
            class="btn btn-outline-info"
            href="https://fabric-io.netlify.app/portfolio/travel-agency"
            >détail</a
          >
          <a
            class="btn btn-info"
            href="https://travelagency-mod.netlify.app/"
            target="_blank"
            >visiter</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 text-center">
    <div class="card mx-auto m-3 ">
      <img
        class="card-top-img py-1 px-2 rounded-lg "
        src="assets/pictures/portfolio/serpent.png"
        alt="snakeey"
      />
      <div class="card-header p-0 m-0">
        <div class="frame ">
        </div>
        <div class="card-body">
          <div class="card-text">Snakeey</div>
        </div>
      </div>
      <div class="card-footer p-0">
        <div class="btn-group btn-block">
          <a
            class="btn btn-outline-info"
            href="https://fabric-io.netlify.app/portfolio/snakeey"
            >détail</a
          >
          <a
            class="btn btn-info"
            href="https://snakeey.netlify.app/"
            target="_blank"
            >visiter</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 text-center">
    <div class="card mx-auto m-3 ">
      <img
        class="card-top-img py-1 px-2 rounded-lg "
        src="assets/pictures/portfolio/color-image.jpg"
        alt="top 5 actrices"
      />
      <div class="card-header p-0 m-0">
        <div class="frame ">
        </div>
        <div class="card-body">
          <div class="card-text">Top 5 Actrices</div>
        </div>
      </div>
      <div class="card-footer p-0">
        <div class="btn-group btn-block">
          <a
            class="btn btn-outline-info"
            href="https://fabric-io.netlify.app/portfolio/actrices"
            >détail</a
          >
          <a
            class="btn btn-info"
            href="https://topactrices.netlify.app/"
            target="_blank"
            >visiter</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 text-center">
    <div class="card mx-auto m-3 ">
      <img
        class="card-top-img py-1 px-2 rounded-lg "
        src="assets/pictures/portfolio/banner-overlay1.png"
        alt="do-pe"
      />
      <div class="card-header p-0 m-0">
        <div class="frame ">
        </div>
        <div class="card-body"><div class="card-text">Do-Pe</div></div>
      </div>
      <div class="card-footer p-0">
        <div class="btn-group btn-block">
          <a
            class="btn btn-outline-info"
            href="https://fabric-io.netlify.app/portfolio/dope"
            >détail</a
          >
          <a
            class="btn btn-info"
            href="https://do-pe.netlify.app/"
            target="_blank"
            >visiter</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
