<div class="container-md">
  <div class="text-center mt-5 mb-4">
    <h1 class="svelte-1q5hf50">À propos de l'auteur</h1>
  </div>
  <div class="px-20" id="author">
    <article class="text-justified mx-2 lg:mx-0">
      <p>
        Je suis Fabagile, développeur Web Frontend orienté JavaScript, plus
        particulièrement Angular.
      </p>
      <h2 class="subtitle text-center mt-4">Un peu d'histoire</h2>
      <p>
        J'ai débuté dans la vie active comme technicien en télécommunications
        dans le privé. Le secteur étant rapidement bouché, j'ai dû m'orienter
        vers une branche sans rapport avec ma formation initiale, mais où le
        travail ne manquait pas. J'officiais de nuit dans la sécurité, en statu
        quo durant de longues années, me demandant si j'étais encore apte à un
        travail constructif et plaisant.
        <br />
        Mes vacations nocturnes me permirent de m'enrichir intellectuellement.
      </p>
      <p>
        Puis, en cherchant un moyen d'automatiser les tâches les plus courantes,
        je redécouvris l'informatique grâce à GNU/Linux, bash, le codage
        python...
        <br />
        En réalisant la puissance du codage, je ne fus pas long à décider de
        suivre une longue et fastidieuse (mais Ô combien passionnante) formation
        de développement web, option FrontEnd, avant de m'essayer au Backend.
        Déçu par PHP (notamment à cause de certaines faiblesses), je m'orientai
        vers le <strong><em>tout JavaScript</em></strong>; NodeJS est prévu pour plus tard.
        <br />
        Convaincu par la supériorité <em>sine qua non</em> de Linux, je testai des
        distributions de diverses familles: Ubuntu, Mint, Debian, MX, Manjaro,
        pour enfin me fixer avec Fedora.
      </p>
      <p>
        J'adoptai également Mac fin 2019, pour pouvoir tirer parti de sa
        puissance et sa fluidité.
      </p>
      <p>
        Depuis, plus je code, plus je cherche, plus je prends de plaisir.
        J'utilise
        <strong>Visual Studio Code</strong>
        et
        <strong>Git</strong>
        quotidiennement et découvre des fonctionnalités chaque semaine.
      </p>
      <p>Enfin, je pratique la veille technologique.</p>
    </article>
  </div>
</div>
