<footer class="accent px-1 py-2 text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <a
          routerLink="#"
          class="nav-link"
          >plan du site</a
        ><a
          routerLink="#"
          class="nav-link"
          >conditions</a
        ><a
          routerLink="#"
          class="nav-link"
          >aide</a
        ><a
          routerLink="#"
          class="nav-link"
          >foire aux questions</a
        >
      </div>
      <div class="col">
        <h6 class="footertext pb-2" cols="12">
          <div class="center-text">
            <a
            class="nav-link"
              href="https://github.com/fabagile/ng-portfolio"
              title="voir le code source?"
              ><strong>fabric.io</strong></a
            >
            © 2022
            <!-- <i>- Mise à jour: 10/12/2022 09:27:07</i> -->
          </div>
        </h6>
        <div class="d-flex">
          <a
            href="https://github.com/fabagile/"
            class="mr-2"
            target="_blank"
            ><img
              src="assets/pictures/Octicons-mark-github.svg.png"
              height="24"
              width="24"
            /> </a
          ><a
            href="https://twitter.com/FabezioC/"
            class="mr-2"
            target="_blank"
            ><img
              src="assets/pictures/tweeter-logo-png-clip-art.png"
              height="24"
              width="24"
            /> </a
          ><a
            href="https://www.linkedin.com/in/fabrice-riquet-bba4bb19a/"
            class="mr-2"
            target="_blank"
            ><img
              src="assets/pictures/Comment_créer_et_optimiser_une_Page_Entreprise.png"
              height="24"
              width="24"
            /> </a
          ><a
            href="https://www.facebook.com/fabrice.riquet.735/"
            class="mr-2"
            target="_blank"
            ><img
              src="assets/pictures/Facebook_icon_192.png"
              height="24"
              width="24"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
