<footer class="accent px-1 py-2 text-white">
  <div class="container">
    <div class="d-flex justify-content-md-between">
      <div>
        <a
          *ngFor="let link of pageLinks"
          [routerLink]="link.path"
          class="nav-link"
          >{{ link.label|titlecase }}</a
        >
      </div>

      <div class="d-flex rounded gap-1 px-1 bg-light opacity-50 fs-5 align-self-start">
        <a
          *ngFor="let link of socialLinks"
          [title]="link.label"
          [href]="link.path"
          class="mr-2 nav-link"
          target="_blank"
          ><ui-icon mode="brands" [tag]="link.icon" [color]="link.iconColor"  >
          <!-- <img [src]="link.img" height="32" width="32" /> -->
        </ui-icon>
      </a>
    </div>
  </div>

  <div class="justify-content-center d-flex">
    <a
      class="nav-link me-1"
      href="https://github.com/fabagile/ng-portfolio"
      title="voir le code source?"
      ><strong>fabagile</strong></a
    >
    © 2022
  </div>
  </div>
</footer>
