
  <div id="banner">

    <div class="border d-flex">
      <img
        src="assets/pictures/logo/eagle logo - purple bg copie.png"
        alt="Logo du site"
        class="w-auto rounded-lg rounded-bl svelte-8xutid rounded-start"
        id="logo"

      />
      <div
        class="bg-white rounded-b p-4 flex flex-col justify-around leading-normal lg:border-l-0 lg:border-t lg:border-gray-400 lg:rounded-b-none lg:rounded-r"
      >
        <div class="flex flex-col">
          <h1 class="my-0 text-left text-uppercase">fabagile</h1>
          <h2 class="my-0 text-left">Développement Web</h2>
          <p class="mt-2">Notre défi: repousser vos limites</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-md my-auto px-20">
    <div class="text-center mt-5 mb-4">
      <h1 class="svelte-1q5hf50">Accueil</h1>
      <h2 class="svelte-1q5hf50">Bienvenue sur ce site!</h2>
    </div>
    <main class="mx-2 lg:mx-0">
      <p>
        Si vous êtes ici, c'est que vous avez besoin d'un développeur web, en
        freelance ou contrat interne. J'ai envie de vous dire que vous êtes au
        bon endroit; néanmoins vous émettez certainement des réserves et avez
        besoin de preuves de mes compétences. C'est pourquoi tout est décrit
        ici.
      </p>
      <p>
        Je vous invite donc à prendre le temps de visiter ce site et consulter
        <a href="https://github.com/Fabezio/fabric-io" class="" target="_blank"
          >ma page github</a
        >, afin de vous forger votre propre avis. N'hésitez pas à tester plus
        avant mes acquis, me faire un retour
        <a href="mailto:fabezio@outlook.fr" class="">par mail</a>
        et/ou émettre des suggestions (c'est également grâce aux erreurs qu'on
        apprend et progresse).
      </p>
      <p>Sur ce, je vous souhaite une bonne visite!</p>
    </main>
  </div>
<!-- </div> -->
