<nav
  class="navbar navbar-expand-lg navbar-dark accent shadow sticky-top "
>
  <a
    routerLink="/"
    routerLinkActive="router-link-active"
    class="navbar-brand display-4 text-uppercase"
  >
    <img
      src="assets/pictures/logo/eagle logo - purple bg copie.png"
      height="32"
      alt="logo"
      class="mx-1"
    />
    <!-- <div class="border-gray border-1">

    </div> -->
    <!-- <span class="px-1"> -->
    fabric-io

    <!-- </span> -->
  </a>
  <button
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler"
    data-target="#navbarSupportedContent"
    data-toggle="collapse"
    type="button"
  >
    <span (click)="toggleCollapse()" class="navbar-toggler-icon"></span>
  </button>
  <div class="text-center navbar-collapse collapse" [ngClass]="{show: collapse==false}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li (click)="collapse=true"
        *ngFor="let link of links"
        class="nav-item text-uppercase font-weight-light "
      >
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="link.path"
          class="nav-link"
        >
          <span class="badge p-1 rounded-circle">
            <i class="icon fs-6 fa-fw fa-solid fa-{{ link.icon }}"></i>
          </span>
          <span class="tag">
            {{ link.label }}
          </span>
        </a>
      </li>

    </ul>
    <!-- <div>
      <div class="collapse show" id="clock">
        <div class="text-light">9:28</div>
      </div>
    </div> -->
  </div>
</nav>
